* {
  box-sizing: border-box
}
.topnav {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  height: 38px;
}

.topnav a {
  color: black;
  text-align: center;
  padding: 0px 5px;
  font-size: 28px;
  text-decoration: none;
  border-bottom: 4px solid white;
  transition-duration: 0.5s;
  font-weight: 200;
  font-family: 'Lato';
}

.topnav a:hover {
  color: black;
  border-bottom: 4px solid yellow;
}

#user {
  width: 20px;
  height: 23px;
  margin: 0px 0px;
}

.main {
  width: 100%;
  height: 1200px;
  background-image: url('mountains.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;

}

body {
  padding: 0px;
  margin: 0px;
}

.story {
  width: 900px;
  height: 1000px;
  margin: 100px 0px;
  justify-content: center;
  border: 1px solid black;
  display: flex;
}

.title {
  font-size: 30px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  text-shadow: 3px 3px black;
  color: white;
}

.article {
  display: flex;
  flex-direction: column;
  height: 175px;
}

.h4 {
  font-family: 'Anton', sans-serif;
  text-shadow: 3px 3px white;
  color: black;
  text-align: center;
  margin: 2px 2px;
  font-size: 90px
}
.czech{
  width: 100%;
  height: 95%;
  background-image: url('czech_pic.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
}

.hungary{
  width: 100%;
  height: 95%;
  background-image: url('hungary_pic.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
}
.small_picture {
  float: left;
  width: 145px;
  height: 145px;
  border-radius: 10px;
}

.p {
  color: black;
  font-weight: 700;
  padding: 0px 10px;
  margin: 2px 2px;
  text-shadow: 2px 2px white;
  font-size:20px;
}

* {box-sizing: border-box}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
#cart{
  padding:16px;
  border: 15px solid gray;
  width: 900px;
  height: 90px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  font-family: 'Lato';
}
#cart > select,
#cart > input,
#cart > output{
  width:75px;
  margin-right: 16px;
  border-radius: 5px;
}
output{
  width:100px;
  font-weight: 700;
}
button {
   height: 75px;
   width: 90px;
   margin: 0 auto;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}